@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Teko&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: #000 url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  -webkit-font-smoothing: antialiased !important;
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.logo {
  font-family: "Teko", "Poppins", sans-serif;
  font-weight: 400;
}
